* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

header {
    /* Стили для хедера */
    background-color:#2965F1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color:#FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
}

.main-section {
    /* Стили для первой секции */
    background-color: #FAFAFF;
    padding: 60px 0;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    color:#303030 ;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    color: #303030 ;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #FFFFFF;
    padding: 60px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    height: 36px;
    padding: 100px, 1290px, 747px, 0;
    background-image: url(./assets/image/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    appearance: none;
    }

.section-title {
    /* Стили для заголовков во второй секции */
    color:#303030 ;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    color:#303030 ;
    list-style-image: url(./assets/image/solar_map-arrow-up-bold.svg);
    padding-left: 20px;

}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    color:#303030 ;
    padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
    color:#303030 ;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    padding: 431px, 1110px, 416px, 0;
    width: 330px;
    height: 36px;
    border: 1px solid #3030304D;
    border-radius: 5px;
    color:#303030 ;
}
.btn {
    /* Стили для кнопки */
    background-color:#2965F1;
    width: 125px;
    height: 36px;
    border-radius: 5px;
    border: none;
    color:#FFFFFF ;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
}

.line {
    /* Стили для линии */
    margin: 50px 0;
}

table {
    /* Стили для таблицы */
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #95A1BB;
    text-align: center;
    appearance: none;
    color:#303030 ;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
}

th, td {
    /* Стили для ячеек таблицы */
border: 1px solid #95A1BB;
width: 200px;
padding: 12px 0;
}

footer {
    /* Стили для футера */
    background-color: #A3A7FF4D;
    padding: 26px;
}

.footer-link {
    /* Стили для футера */
    color: #2965F1;
    text-decoration: none;
}